<template>
  <transition name="opacity">
    <div role="alert" :style="{zIndex: zIndex}" v-show="visible" :class="['vc', 'vc-snackbar', `vc-snackbar-${horizontal}`, `vc-snackbar-${vertical}`, color, 'elevation-16']">
      <div :class="['vc-table-layout']">
        <div>
          <div :class="['vc-snackbar-content', dark ? 'vc-dark' : 'vc-light']">
            <slot />
          </div>
          <div v-if="showCloseButton" :class="['align-right']">
            <vc-button @click="emit()" size="small" :color="buttonColor">{{ buttonLabel }}</vc-button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'VcSnackbar',
  data () {
    return {
      visible: false
    }
  },
  watch: {
    visible () {
      if (!this.visible) {
        return
      }
      this.visible = true
      setTimeout(() => {
        this.emit()
      }, this.delay)
    }
  },
  methods: {
    emit () {
      this.visible = false
      this.$emit('close', this.visible)
    }
  },
  props: {
    delay: {
      type: [Number, String], // close delay in milliseconds
      required: false,
      default: 5000
    },
    showCloseButton: {
      type: Boolean,
      required: false,
      default: true
    },
    color: {
      type: String,
      required: false,
      default: 'black'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    horizontal: {
      type: String,
      required: false,
      default: 'center' // 'left', 'center', 'right'
    },
    vertical: {
      type: String,
      required: false,
      default: 'bottom' // 'bottom', 'top'
    },
    buttonColor: {
      type: String,
      required: false,
      default: 'primary'
    },
    buttonLabel: {
      type: String,
      required: false,
      default: 'Close'
    },
    zIndex: {
      type: Number,
      required: false,
      default: 1000
    }
  }
}
</script>
<style>
.vc-snackbar
{
  position: fixed;
  padding: 14px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-snackbar .vc-table-layout
{
  table-layout: auto;
  width: auto;
  max-width: 288px;
}

.vc-snackbar.vc-snackbar-bottom
{
  bottom: 0;
}

.vc-snackbar.vc-snackbar-top
{
  top: 0;
}

.vc-snackbar.vc-snackbar-left
{
  left: 24px;
}

.vc-snackbar.vc-snackbar-left.vc-snackbar-bottom,
.vc-snackbar.vc-snackbar-right.vc-snackbar-bottom
{
  bottom: 24px;
}

.vc-snackbar.vc-snackbar-left.vc-snackbar-top,
.vc-snackbar.vc-snackbar-right.vc-snackbar-top
{
  top: 24px;
}

.vc-snackbar.vc-snackbar-right
{
  right: 24px;
}

.vc-snackbar.vc-snackbar-center
{
  left: 50%;
  transform: translateX(-50%);
}

.vc-snackbar .vc-button
{
  min-width: auto;
  margin: 0;
}

.vc-snackbar .vc-snackbar-content
{
  padding-right: 14px;
  font-size: 13px;
  line-height: 16px;
}

.opacity-enter,
.opacity-leave-to
{
  opacity: 0;
}

.opacity-enter-active
{
  transition: opacity .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.opacity-leave-active
{
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

@media (max-width: 480px) {
  .vc-snackbar
  {
    left: 16px !important;
    right: 16px !important;
    width: auto !important;
    transform: none !important;
  }

  .vc-snackbar.vc-snackbar-top
  {
    top: 16px !important;
  }

  .vc-snackbar.vc-snackbar-bottom
  {
    bottom: 16px !important;
  }

  .vc-snackbar .vc-table-layout
  {
    max-width: initial !important;
    width: auto !important;
  }
}
</style>
