<template>
  <div :class="['vc-toolbar-controls-right', 'align-right']">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'VcToolbarControlsRight'
}
</script>
<style>

</style>
