<template>
  <div :class="['vc', 'vc-tabstrip']">
    <ul :class="['vc-tabstrip-buttons', `vc-tabstrip-buttons-${align}`, color, dark ? 'vc-dark' : 'vc-light']" role="tablist">
      <li
        v-for="(item, index) in items"
        :key="index"
        :aria-selected="selected === setName(item.label)"
        :disabled="item.disabled"
        :class="[selected === setName(item.label) ? 'vc-tabstrip-pane-selected' : '']"
        @click="select(index)"
        role="presentation">
        <div v-ripple>
          <vc-icon :size="iconSize" :class="customIconSize" v-if="item.icon">{{ item.icon }}</vc-icon>
          <span>{{ item.label }}</span>
          <vc-icon size="x-small" :class="['vc-tabstrip-button-close']" v-if="closable && items.length > 1" @click.native="close(index)">close</vc-icon>
        </div>
        <div :class="[sliderColor]" />
      </li>
    </ul>
    <div :class="['vc-tabstrip-panes']">
      <ul>
        <slot></slot>
      </ul>
    </div>
  </div>
</template>
<script>
import methods from '../../mixins/methods'

export default {
  name: 'VcTabstrip',
  mixins: [
    methods
  ],
  data () {
    return {
      items: [],
      selected: null
    }
  },
  props: {
    name: {
      type: String,
      required: true
    },
    tabSelected: {
      type: Number,
      required: false,
      default: 0
    },
    closable: {
      type: Boolean,
      required: false
    },
    tabHeight: {
      type: Number,
      required: false
    },
    color: {
      type: String,
      required: false,
      default: 'primary'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    sliderColor: {
      type: String,
      required: false,
      default: 'yellow'
    },
    iconSize: {
      type: String,
      required: false,
      default: 'small'
    },
    align: {
      type: String,
      required: false,
      default: 'justify'
    }
  },
  computed: {
    customIconSize () {
      return [this.iconSize !== 'small' && this.iconSize !== 'x-small' ? 'vc-block' : '']
    }
  },
  mounted () {
    this.selected = this.setName(this.getItemByIndex(this.tabSelected).label)
  },
  methods: {
    /**
     * Close a tab
     * @method close
     * @param {Number} index
     * @return void
     */
    close (index) {
      const item = this.getItemByIndex(index)
      if (!item.disabled && this.items.length > 1) {
        this.items.splice(index, 1)
        if (index === this.items.length) {
          this.select(index - 1)
        }
      }
    },
    /**
     * Get label data by index
     * @method getItemByIndex
     * @param {Number} index
     * @return {Object}
     */
    getItemByIndex (index) {
      return this.items[index]
    },
    /**
     * Select a tab by index and trigger the 'tab' event of the component
     * @method select
     * @param {Number} index [required]
     * @return void
     */
    select (index) {
      const item = this.getItemByIndex(index)
      if (item && !item.disabled) {
        this.selected = this.setName(item.label)
        this.$emit('tab', index)
      }
    }
  }
}
</script>
<style>
.vc-tabstrip .vc-tabstrip-buttons,
.vc-tabstrip .vc-tabstrip-buttons li,
.vc-tabstrip .vc-tabstrip-panes > ul,
.vc-tabstrip .vc-tabstrip-panes > ul > li
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.vc-tabstrip .vc-tabstrip-panes > ul > li:not([hidden]),
.vc-tabstrip .vc-tabstrip-buttons .vc-tabstrip-pane-selected *,
.vc-tabstrip .vc-tabstrip-buttons .vc-tabstrip-pane-selected > div:last-child,
.vc-tabstrip .vc-tabstrip-buttons > .vc-tabstrip-pane-selected:hover .vc-tabstrip-button-close
{
  opacity: 1;
}

.vc-tabstrip .vc-tabstrip-panes > ul > li,
.vc-tabstrip .vc-tabstrip-buttons .vc-tabstrip-button-close,
.vc-tabstrip .vc-tabstrip-buttons .vc-tabstrip-pane-selected *,
.vc-tabstrip .vc-tabstrip-buttons .vc-tabstrip-pane-selected > div:last-child
{
  transition: all .35s ease-in-out;
}

.vc-tabstrip .vc-tabstrip-panes > ul > li[hidden],
.vc-tabstrip .vc-tabstrip-buttons li > div:last-child
{
  opacity: 0;
}

.vc-tabstrip .vc-tabstrip-buttons
{
  display: flex;
}

.vc-tabstrip .vc-tabstrip-buttons-left
{
  justify-content: flex-start;
}

.vc-tabstrip .vc-tabstrip-buttons-center
{
  justify-content: center;
}

.vc-tabstrip .vc-tabstrip-buttons-right
{
  justify-content: flex-end;
}

.vc-tabstrip .vc-tabstrip-buttons-justify li
{
  flex: 1 1 0;
}

.vc-tabstrip .vc-tabstrip-buttons li
{
  text-align: center;
  position: relative;
}

.vc-tabstrip .vc-tabstrip-buttons li > div:last-child
{
  height: 2px;
}

.vc-tabstrip .vc-tabstrip-buttons li span
{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.vc-tabstrip .vc-tabstrip-buttons li *
{
  color: #fff;
  opacity: .7;
}

.vc-tabstrip > .vc-tabstrip-buttons
{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-tabstrip .vc-tabstrip-buttons
{
  white-space: nowrap;
  overflow: hidden;
}

.vc-tabstrip .vc-tabstrip-buttons li > div:first-child
{
  padding: 14px;
  cursor: pointer;
}

.vc-tabstrip .vc-tabstrip-buttons li *
{
  cursor: inherit;
}

.vc-tabstrip .vc-tabstrip-panes
{
  border-top: 0;
}

.vc-tabstrip .vc-tabstrip-panes > ul > li
{
  padding: 15px;
  overflow: auto;
  background: #fff;
}

.vc-tabstrip .vc-tabstrip-buttons li span
{
  text-transform: uppercase;
  padding: 0 5px;
}

.vc-tabstrip .vc-tabstrip-buttons [disabled]
{
  cursor: not-allowed;
  opacity: .26;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.vc-tabstrip .vc-tabstrip-panes > ul > li[hidden]
{
  display: block !important;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  top: -9999px;
}

.vc-tabstrip .vc-tabstrip-buttons .vc-tabstrip-button-close
{
  opacity: .5;
}
</style>
