<template>
  <span @click="$emit('click')" :class="['vc', 'vc-badge', color, dark ? 'vc-dark' : 'vc-light']" role="presentation">
    <slot />
  </span>
</template>
<script>
export default {
  name: 'VcBadge',
  props: {
    color: {
      type: String,
      required: false,
      default: 'primary'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
<style>
.vc-badge
{
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  padding: 2px;
  min-width: 28px;
  min-height: 28px;
  text-align: center;
  border-radius: 50%;
  line-height: 24px;
  font-size: 12px;
  cursor: inherit;
}

.vc-badge .vc-icon
{
  cursor: inherit;
}
</style>
