<template>
  <div :class="['vc', 'vc-collapsible', 'elevation-1']">
    <ul role="tree">
      <slot />
    </ul>
  </div>
</template>
<script>
export default {
  name: 'VcCollapsible',
  data () {
    return {
      items: []
    }
  },
  props: {
    multiple: {
      type: Boolean,
      required: false,
      default: true
    },
    name: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: false,
      default: 'primary'
    }
  }
}
</script>
<style>
.vc-collapsible ul,
.vc-collapsible-item
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.vc-collapsible
{
  display: block;
  width: 100%;
}
</style>
