<template>
  <div @click="$emit('click')" :class="['vc', 'vc-alert', color, dark ? 'vc-dark' : 'vc-light']" role="alert" v-if="visible">
    <div :class="['vc-table-layout']">
      <div>
        <div v-if="icon" :class="['vc-alert-icon']">
          <vc-icon size="normal">{{ icon }}</vc-icon>
        </div>
        <div :class="['vc-alert-text']">
          <slot></slot>
        </div>
        <div v-if="dismissable" :class="['vc-alert-dismiss-wrapper']">
          <vc-icon @click="visible = false">cancel</vc-icon>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VcAlert',
  data () {
    return {
      visible: true
    }
  },
  props: {
    icon: {
      type: String,
      required: false
    },
    color: {
      type: String,
      required: false,
      default: 'primary'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    dismissable: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
<style>
.vc-alert
{
  margin: 14px 0;
  padding: 16px;
  display: block;
  border-top: solid 4px rgba(0, 0, 0, .12);
}

.vc-alert .vc-alert-text
{
  font-size: 14px;
  line-height: 21px;
  padding: 0 16px;
}

.vc-alert .vc-alert-dismiss-wrapper
{
  width: 24px;
}

.vc-alert .vc-alert-dismiss-wrapper .vc-icon
{
  opacity: .5;
  color: #000 !important;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.vc-alert .vc-alert-dismiss-wrapper .vc-icon:hover
{
  opacity: .4;
}

.vc-alert .vc-alert-icon
{
  width: 40px;
}
</style>
