<template>
  <div :class="['vc-toolbar-title']">
    <div>
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VcToolbarTitle'
}
</script>
<style>
.vc-toolbar-title
{
  flex-grow: 1;
}

.vc-toolbar-title > div
{
  display: block;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.vc-toolbar .vc-toolbar-title:first-of-type
{
  padding: 0 16px;
}
</style>
