<template>
  <li role="tabpanel" :style="tabHeight" :aria-labelledby="label" :hidden="$parent.selected !== $parent.setName(label)">
    <div>
      <slot></slot>
    </div>
  </li>
</template>
<script>
export default {
  name: 'VcTabstripPane',
  data () {
    return {
      tabHeight: null
    }
  },
  props: {
    label: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    icon: {
      type: String,
      required: false
    }
  },
  created () {
    const tabHeight = this.$parent.tabHeight
    this.tabHeight = {
      height: tabHeight ? `${tabHeight}px` : null
    }
    this.$parent.items.push({
      label: this.label,
      disabled: this.disabled,
      icon: this.icon
    })
  }
}
</script>
