<template>
  <div role="presentation" :style="{zIndex: zIndex}" :class="['vc', 'vc-social-bar', `vc-social-bar-${direction}`, `vc-social-bar-${size}`, fixed ? ['vc-social-bar-fixed', `vc-social-bar-${position}`, expandOnHover ? 'vc-social-bar-expand-on-hover' : null, color, 'elevation-20'] : null]">
    <ul>
      <li v-for="(item, index) in items" :key="index">
        <vc-button @click="share(index)" :size="size" :color="buttonColor" :dark="dark">
          <vc-icon :size="size">{{ item.icon }}</vc-icon>
        </vc-button>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'VcSocialBar',
  props: {
    items: {
      type: Array,
      required: true
    },
    color: {
      type: String,
      required: false,
      default: 'white'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    size: {
      type: String,
      required: false,
      default: 'normal'
    },
    direction: {
      type: String,
      required: false,
      default: 'horizontal'
    },
    position: {
      type: String,
      required: false,
      default: 'right'
    },
    fixed: {
      type: Boolean,
      required: false,
      default: false
    },
    zIndex: {
      type: Number,
      required: false,
      default: 1500
    },
    buttonColor: {
      type: String,
      required: false,
      default: 'primary'
    },
    pageTitle: {
      type: String,
      required: false
    },
    expandOnHover: {
      type: Boolean,
      required: false
    }
  },
  methods: {
    share (index) {
      const url = this.items[index].url(window.location.href, this.pageTitle || document.title)
      window.open(url, '_blank')
    }
  }
}
</script>
<style>
.vc-social-bar,
.vc-social-bar ul,
.vc-social-bar li
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.vc-social-bar li
{
  margin: 2px;
}

.vc-social-bar .vc-button
{
  min-width: auto;
  margin: 0;
}

.vc-social-bar.vc-social-bar-horizontal
{
  white-space: nowrap;
}

.vc-social-bar.vc-social-bar-horizontal li
{
  display: inline-block;
  vertical-align: middle;
}

.vc-social-bar.vc-social-bar-fixed
{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
}

.vc-social-bar.vc-social-bar-fixed li
{
  display: block;
  padding: 1px;
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-right
{
  transition: right .3s cubic-bezier(.600, -.280, .735, .045);
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-left
{
  transition: left .3s cubic-bezier(.600, -.280, .735, .045);
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-right.vc-social-bar-small
{
  right: -20px;
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-right.vc-social-bar-normal
{
  right: -30px;
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-right.vc-social-bar-large
{
  right: -45px;
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-left.vc-social-bar-small
{
  left: -20px;
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-left.vc-social-bar-normal
{
  left: -30px;
}

.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-left.vc-social-bar-large
{
  left: -45px;
}

.vc-social-bar.vc-social-bar-fixed.vc-social-bar-right,
.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-right:hover
{
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vc-social-bar.vc-social-bar-fixed.vc-social-bar-left,
.vc-social-bar.vc-social-bar-expand-on-hover.vc-social-bar-left:hover
{
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
</style>
