.v-ripple
{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.v-ripple::before
{
    content: "";
    width: 26px;
    height: 26px;
    background: inherit;
    border-radius: 100%;
    position: absolute;
    left: -1px;
    top: 2px;
    opacity: .3;
    transform: scale(0);
}

.vc-radio input:checked ~ .v-ripple::before,
.vc-checkbox input:checked ~ .v-ripple::before
{
    transform: scale(2.5);
    transition: all .5s cubic-bezier(.4, 0, .2, 1);
    opacity: 0;
}

.vc-radio.vc-radio-label-position-left .v-ripple,
.vc-checkbox.vc-checkbox-label-position-left .v-ripple
{
    left: auto;
    right: 24px;
}