code, pre, kbd
{
    font-family: Menlo, Monaco, Courier, Consolas, "Courier New", "Andale Mono, Consolas", Inconsolata, monospace;
    font-size: 12px;
    color: #b00;
}

p, blockquote
{
    color: rgba(0, 0, 0, .87);
}

p
{
    margin: 0 0 16px;
    line-height: 21px;
    font-size: 14px;
}

p a,
blockquote a
{
    transition: color .2s ease-in-out;
    color: rgba(0, 0, 0, .6);
}

p a:hover
{
    color: rgba(0, 0, 0, 1);
}

blockquote
{
    padding: 16px 0 16px 24px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 48px;
    line-height: 27px;
}

.font-normal
{
    font-weight: normal;
}