<template>
  <span :class="['vc-list-item-secondary-text', 'vc-block']">
    <slot></slot>
  </span>
</template>
<script>
export default {
  name: 'VcListItemSecondaryText'
}
</script>
<style>
.vc-list-item-secondary-text
{
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  line-height: 21px;
}
</style>
