<template>
  <span :is="tag" :href="to" :to="to" role="presentation" :class="['vc', 'vc-tag', !closable ? 'vc-tag-pinned' : '', color, dark ? 'vc-dark' : 'vc-light']">
    <span>
      <slot />
    </span>
    <vc-icon size="x-small" v-if="closable" @click.native="close">close</vc-icon>
  </span>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcTag',
  mixins: [
    props
  ],
  props: {
    closable: {
      type: Boolean,
      required: false,
      default: false
    },
    tag: {
      type: String,
      required: false,
      default: 'span'
    },
    to: {
      type: String,
      required: false
    }
  },
  methods: {
    close () {
      this.$emit('close')
    }
  }
}
</script>
<style>
.vc-tag,
.vc-tag *
{
  display: inline-block;
  vertical-align: middle;
}

.vc-tag
{
  margin: 2px 2px 2px 0;
  border-radius: 16px;
  padding: 4px 5px 4px 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-tag + .vc-tag
{
  margin-left: 2px;
}

.vc-tag .vc-icon
{
  cursor: pointer;
  margin: 0 0 0 4px;
  background: rgba(0, 0, 0, .26);
  border-radius: 100%;
  padding: 4px;
  font-weight: bold;
  color: #fff;
  transition: background .3s ease-in-out;
}

.vc-tag .vc-icon:hover
{
  background: #000;
}

.vc-tag span
{
  padding: 4px 0;
  font-size: 12px;
}

.vc-tag-pinned.vc-tag
{
  padding-right: 12px;
}

.vc-tag-pinned.vc-tag span
{
  margin-top: 0;
}

a.vc-tag
{
  cursor: pointer;
}
</style>
