<template>
  <div :is="tag" :class="['vc-container', application ? 'vc-application' : null]">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'VcContainer',
  props: {
    tag: {
      type: String,
      required: false,
      default: 'section'
    },
    application: {
      type: Boolean,
      required: false
    }
  }
}
</script>
<style>
.vc-container
{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 8px;
}
</style>
