<template>
  <div :style="{maxWidth: width}" :class="['vc', 'vc-jumbotron', 'pa-16', color, dark ? 'vc-dark' : 'vc-light']">
    <slot />
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcJumbotron',
  mixins: [
    props
  ],
  props: {
    width: {
      type: String,
      required: false,
      default: 'auto'
    }
  }
}
</script>
<style>
.vc-jumbotron
{
  width: 100%;
}
</style>
