<template>
  <button
    v-ripple
    role="button"
    :disabled="_disabled"
    @click="click"
    :name="name"
    :is="tag"
    :to="to"
    :href="to"
    :type="type"
    :style="{width: !block && !iconButton ? width : null}"
    :class="['vc', 'vc-button', 'elevation-2', _color, `vc-${_size}`, _dark ? 'vc-dark' : 'vc-light', {'vc-block': block || ''}, {'vc-flat': flat || ''}, {'vc-icon-button': iconButton || ''}]">
    <vc-icon
      :size="_size"
      :class="['vc-button-icon-left']"
      v-if="iconLeft"
    >{{ iconLeft }}</vc-icon>
    <span
      :class="['vc-button-label']">
      <slot></slot>
    </span>
    <vc-icon
      :size="_size"
      :class="['vc-button-icon-right']"
      v-if="iconRight"
    >{{ iconRight }}</vc-icon>
  </button>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcButton',
  mixins: [
    props
  ],
  props: {
    type: {
      type: String,
      required: false,
      default: 'button' // button, submit, reset
    },
    size: {
      type: String,
      required: false,
      default: 'normal' // small, normal, large
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    name: {
      type: String,
      required: false
    },
    iconLeft: {
      type: String,
      required: false,
      default: null
    },
    iconRight: {
      type: String,
      required: false,
      default: null
    },
    flat: {
      type: Boolean,
      required: false,
      default: null
    },
    tag: {
      type: String,
      required: false,
      default: 'button'
    },
    to: {
      type: String
    },
    iconButton: {
      type: Boolean,
      default: false,
      required: false
    },
    width: {
      type: String,
      default: 'auto',
      required: false
    }
  },
  computed: {
    _color () {
      if (this.$parent.$options._componentTag === 'vc-button-group') {
        return this.$parent.color
      }
      return this.color
    },
    _size () {
      if (this.$parent.$options._componentTag === 'vc-button-group') {
        return this.$parent.size
      }
      return this.size
    },
    _dark () {
      if (this.$parent.$options._componentTag === 'vc-button-group') {
        return this.$parent.dark
      }
      return this.dark
    },
    _disabled () {
      if (this.$parent.$options._componentTag === 'vc-button-group' && !this.disabled) {
        return this.$parent.disabled
      }
      return this.disabled
    }
  },
  methods: {
    click (event) {
      this.$emit('click', event)
    }
  }
}
</script>
<style>
.vc-button,
.vc-button .vc-button-label
{
  display: inline-block;
  vertical-align: middle;
}

a.vc-button,
a.vc-button *
{
  text-decoration: none;
}

.vc-button.vc-icon-button .vc-button-icon-left,
.vc-button.vc-icon-button .vc-button-icon-right
{
  display: none;
}

.vc-button,
.vc-button::before
{
  transition: all .2s ease-in-out;
}

.vc-button
{
  margin: 0 8px;
  padding: 0 8px;
  min-width: 104px;
  height: 36px;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: content-box;
  text-align: center;
  line-height: initial;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-button.vc-small
{
  height: 28px;
}

.vc-button.vc-large
{
  height: 44px;
}

.vc-button::before
{
  content: "";
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.vc-button:hover::before
{
  background: rgba(255, 255, 255, .12);
}

.vc-button .vc-button-icon-left
{
  margin: 0 4px 0 0;
}

.vc-button .vc-button-icon-right
{
  margin: 0 0 0 4px;
}

.vc-button::-moz-focus-inner
{
  margin: 0;
  padding: 0;
  outline: 0;
}

.vc-button .vc-button-label
{
  font: 600 14px/36px Roboto, sans-serif;
  text-transform: uppercase;
}

.vc-button .vc-button-label:empty
{
  display: none;
}

.vc-button .vc-icon
{
  cursor: inherit;
}

.vc-button.vc-block
{
  box-sizing: border-box;
  margin: 0;
}

.vc-button.vc-small .vc-button-label
{
  font-size: 13px;
  line-height: 28px;
}

.vc-button.vc-large .vc-button-label
{
  font-size: 15px;
  line-height: 44px;
}

.vc-button.vc-icon-button
{
  padding: 0;
  box-shadow: none !important;
  min-width: initial;
  border-radius: 100%;
  width: 36px;
}

.vc-button.vc-icon-button
{
  padding: 0;
  box-shadow: none !important;
  min-width: initial;
  border-radius: 100%;
}

.vc-button.vc-icon-button.vc-small
{
  width: 28px;
}

.vc-button.vc-icon-button.vc-small .vc-icon
{
  font-size: 24px;
}

.vc-button.vc-icon-button.vc-large
{
  width: 44px;
}

.vc-button.vc-icon-button.vc-large .vc-icon
{
  font-size: 40px;
}

.vc-button .vc-button-label img
{
  display: inline-block;
  vertical-align: middle;
}
</style>
