<template>
  <div role="listbox" @keydown.esc="expanded = false" :disabled="disabled" ref="vc-dropdown" :style="{width: width}" :class="['vc', 'vc-select', expanded ? 'vc-select-expanded' : null]">
    <div :class="['vc-select-wrapper']" @keydown.esc="expanded = false">
      <div :class="['vc-select-header']">
        <div v-if="!multiple">
          <vc-text
            readonly
            type="text"
            :color="color"
            @click="expanded = !expanded"
            :disabled="disabled"
            :label="label"
            :placeholder="selectPlaceholder"
            :value="selection[0] ? selection[0].label : null"
            :icon-left="icon"
            icon-right="arrow_drop_down"
            :name="`header-${name}`" />
        </div>
        <div v-if="multiple && tags" :class="['vc-select-tags']" :disabled="disabled">
          <div v-if="label" :class="['vc-select-tags-label']" v-html="label" @click="expanded = !expanded" />
          <div :class="['vc-table-layout']" @click="expanded = !expanded">
            <div>
              <div v-if="icon" :class="['vc-select-tags-icon']">
                <vc-icon :color="color">{{ icon }}</vc-icon>
              </div>
              <div :class="['vc-select-tags-container']">
                <div>
                  <vc-tag
                    v-for="(item, index) in selection" :key="index"
                    :color="color"
                    closable
                    :class="['ma-0']"
                    @close.stop="selection.splice(index, 1);$emit('input', selection)"
                  >{{ item.label }}</vc-tag>
                  <div v-if="!selection.length" :class="['vc-select-tags-placeholder']">{{ selectPlaceholder }}</div>
                </div>
              </div>
              <div :class="['vc-select-tags-icon', 'vc-select-tags-arrow']">
                <vc-icon :color="color">arrow_drop_down</vc-icon>
              </div>
            </div>
          </div>
          <div :class="['vc-select-tags-ripple', color]" />
        </div>
        <div v-if="multiple && !tags">
          <vc-text
            readonly
            @click="expanded = !expanded"
            type="text"
            :disabled="disabled"
            :color="color"
            :label="label"
            :placeholder="selectPlaceholder"
            :icon-left="icon"
            icon-right="arrow_drop_down"
            :value="multipleNoTags"
            :name="`header-${name}`" />
        </div>
      </div>
      <div ref="dropdownMenu" :class="['vc-select-dropdown', 'elevation-8']" :style="{maxHeight: dropdownMaxHeight, zIndex: dropdownZIndex}">
        <vc-text
          clearable
          v-if="searchable"
          type="text"
          v-model="search"
          icon-left="search"
          :color="color"
          :class="['ma-8']"
          :placeholder="searchPlaceholder"
          :name="`search-${name}`" />
        <vc-list>
          <vc-list-item
            v-ripple
            @click="select(item)"
            :disabled="item.disabled"
            v-for="(item, index) in filteredItems"
            :key="index"
            :class="[selection.find(i => i.value === item.value) ? 'vc-select-item-selected' : null]"
            :avatar="item.avatar"
            :icon="item.icon"
          >
            <vc-list-item-primary-text v-html="item.label" />
            <vc-list-item-secondary-text v-html="item.secondaryText" />
          </vc-list-item>
        </vc-list>
      </div>
    </div>
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcSelect',
  mixins: [
    props
  ],
  data () {
    return {
      selection: [],
      search: '',
      expanded: false
    }
  },
  model: {
    prop: 'checked',
    event: 'input'
  },
  props: {
    checked: null,
    tags: { // show selection as closable tags
      type: Boolean,
      required: false
    },
    width: {
      type: String,
      required: false,
      default: 'auto'
    },
    items: {
      type: Array,
      required: true
    },
    multiple: {
      type: Boolean,
      required: false
    },
    searchable: {
      type: Boolean,
      required: false
    },
    // placeholder for the filter input
    searchPlaceholder: {
      type: String,
      required: false,
      default: 'Type to filter'
    },
    // placeholder for the header input
    selectPlaceholder: {
      type: String,
      required: false,
      default: 'Select'
    },
    name: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: false
    },
    // field search in for filtering = value, label, avatar, secondaryText, icon
    searchIn: {
      type: String,
      required: false,
      default: 'label'
    },
    label: {
      type: String,
      required: false
    },
    dropdownMaxHeight: {
      type: String,
      required: false,
      default: '324px'
    },
    dropdownZIndex: {
      type: Number,
      required: false,
      default: 500
    },
    disabled: {
      type: Boolean,
      required: false
    }
  },
  mounted () {
    if (this.checked.length) {
      this.selection = this.checked
    }
  },
  created () {
    document.addEventListener('click', this.documentClick)
  },
  destroyed () {
    document.removeEventListener('click', this.documentClick)
  },
  computed: {
    multipleNoTags () {
      const selection = this.selection
      const labels = []
      selection.forEach(item => {
        labels.push(item.label)
      })
      return labels.join(', ')
    },
    filteredItems () {
      return this.items.filter((data) => {
        return data[this.searchIn].toLowerCase().indexOf(this.search.toLowerCase()) >= 0
      })
    }
  },
  methods: {
    documentClick (e) {
      let el = this.$refs['vc-dropdown']
      let target = e.target
      if (el !== target && !el.contains(target)) {
        this.expanded = false
      }
    },
    select (data) {
      if (!this.multiple) {
        this.selection = [data]
        this.$nextTick(() => {
          this.expanded = false
        })
      } else {
        const selected = this.selection.find(item => item.value === data.value)
        if (selected) {
          const index = this.selection.findIndex(item => item.value === data.value)
          this.selection.splice(index, 1)
        } else {
          this.selection.push(data)
        }
      }
      this.$emit('input', this.selection)
    }
  }
}
</script>
<style>
.vc-select .vc-select-wrapper
{
  position: relative;
}

.vc-select .vc-select-dropdown
{
  overflow: auto;
  position: absolute;
  opacity: 0;
  top: -9999px;
  background: #fff;
  transition: opacity .3s .1s ease-in-out;
  margin-top: -15px;
  text-align: left;
  border-radius: 2px;
}

.vc-select .vc-table-layout
{
  transition: all .3s ease-in-out;
}

.vc-select .vc-list li
{
  cursor: pointer;
}

.vc-select .vc-list li:hover .vc-table-layout,
.vc-select .vc-select-item-selected .vc-table-layout
{
  background: #e0e0e0;
}

.vc-select.vc-select-expanded .vc-select-dropdown
{
  opacity: 1;
  top: auto;
}

.vc-select .vc-select-tags .vc-table-layout
{
  max-height: 65px;
  border-bottom: solid 1px #bdbdbd;
  margin-top: 30px;
  transition: border-color .3s ease-in-out;
}

.vc-select:hover .vc-select-tags .vc-table-layout
{
  border-bottom-color: #000;
}

.vc-select .vc-select-tags .vc-select-tags-container > div
{
  max-height: 65px;
  overflow-y: auto;
  display: inline-block;
  vertical-align: middle;
  min-height: 32px;
}

.vc-select .vc-select-header *
{
  cursor: pointer;
}

.vc-select .vc-select-tags-arrow .vc-icon,
.vc-select .vc-select-header .vc-text-icon-right .vc-icon
{
  transition: transform .3s ease-in-out;
}

.vc-select.vc-select-expanded .vc-select-tags-arrow .vc-icon,
.vc-select.vc-select-expanded .vc-select-header .vc-text-icon-right .vc-icon
{
  transform: rotate(-180deg);
}

.vc-select .vc-select-tags-icon
{
  width: 24px;
  vertical-align: top;
}

.vc-select .vc-select-tags-icon .vc-icon
{
  margin-top: 5px;
}

.vc-select .vc-table-layout .vc-select-tags-container .vc-tag
{
  margin: 1px !important;
}

.vc-select .vc-select-tags-placeholder
{
  font-size: 14px;
  color: rgba(0, 0, 0, .3);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 9px;
}

.vc-select .vc-select-tags
{
  margin-bottom: 16px;
}

.vc-select .vc-select-tags-label
{
  font-size: 12px;
  position: absolute;
  top: -14px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vc-select .vc-tag,
.vc-select .vc-select-tags-ripple::after
{
  transition: all .3s ease-in-out;
}

.vc-select .vc-select-tags-ripple::after
{
  content: "";
  height: 2px;
  background: inherit;
  display: block;
  width: 0;
  left: 50%;
  position: absolute;
  bottom: -1px;
}

.vc-select.vc-select-expanded .vc-select-tags-ripple::after
{
  width: 100%;
  left: 0;
  right: 0;
}

.vc-select:not(.vc-select-expanded) .vc-select-tags-icon .vc-icon
{
  color: #6d6d6d;
}

.vc-select:not(.vc-select-expanded) .vc-tag
{
  background: #bdbdbd;
}

.vc-select:not(.vc-select-expanded) .vc-tag span
{
  color: #000;
}

.vc-select[disabled],
.vc-select[disabled] *
{
  cursor: not-allowed;
}

.vc-select[disabled] .vc-select-tags
{
  opacity: .25;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}
</style>
