<template>
  <div role="presentation" :is="tag" :class="['vc', 'vc-footer', narrow ? 'vc-narrow' : null, fixed ? ['elevation-up-6', 'vc-footer-fixed'] : null, application ? 'vc-application' : null, color, dark ? 'vc-dark' : 'vc-light', `align-${align}`]">
    <div :class="['vc-table-layout']" :style="{height: height}">
      <div>
        <div :class="['vc-footer-content']">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcFooter',
  mixins: [
    props
  ],
  props: {
    tag: {
      type: String,
      required: false,
      default: 'footer'
    },
    align: {
      type: String,
      required: false,
      default: 'left'
    },
    height: {
      type: String,
      required: false,
      default: 'auto'
    },
    application: {
      type: Boolean,
      required: false
    },
    fixed: {
      type: Boolean,
      required: false,
      default: false
    },
    narrow: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
<style>
.vc-footer
{
  display: block;
  margin: 0;
  box-sizing: border-box;
}

.vc-footer .vc-footer-content
{
  padding: 16px;
  font-size: 13px;
  line-height: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vc-footer.vc-footer-fixed
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.vc-footer.vc-application.vc-footer-fixed
{
  position: fixed;
}

.vc-footer.vc-narrow .vc-footer-content
{
  padding: 8px 16px;
}

@media (max-width: 960px)
{
  .vc-footer.vc-application.vc-footer-fixed .vc-footer-content
  {
    padding: 8px 16px;
  }
}
</style>
